.custom-container {
    background-color: #f2f2f2; /* light blue */
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0,0,0,0.1);
  }
  .switchButton{
    margin-left:25%;
  }